// Torna a barra do topo fixa
.fixedHeader { position:fixed; width:100%; z-index: 1000;}

// Torna a barra lateral fixa
.fixedSider { overflow: auto; height: 100vh; position: fixed; left: 0; }

// Cria as classes para mudar a cor de textos
each(#themeColors(), {
  .text-@{key} {
    color: @value;
  }
});

// // Cria as classes para alterar plano de fundo de elementos
each(#themeColors(), {
  .bg-@{key} {
    background-color: @value;
  }
});

// Sobrescreve as classes para alterar a cor dos botões

.ant-btn-link {
  color: #themeColors[primary] !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

each(#themeColors(), {
  .ant-btn-@{key} {
    background-color: @value !important;
    border-color: @value !important;
    &:hover {
      background-color: lighten(@value, 5%) !important;
      border-color: lighten(@value, 5%) !important;
    }
  }

  .ant-btn-background-ghost.ant-btn-@{key} {
    background-color: transparent !important;
    color: @value !important;
    &:hover {
      background-color: @value !important;
      border-color: @value !important;
      color: white !important;
    }
  }
});

each(#themeColors(), {
  .btn-@{key} {
    background-color: @value !important;
    border-color: @value !important;
    &:hover {
      background-color: lighten(@value, 5%) !important;
      border-color: lighten(@value, 5%) !important;
    }
  }

  .ant-btn-background-ghost.btn-@{key} {
    background-color: transparent !important;
    color: @value !important;
    &:hover {
      background-color: @value !important;
      border-color: @value !important;
      color: white !important;
    }
  }
});

each(#themeColors(), {
  .default-@{key} {
    border-color: lighten(@value, 30%) !important;
    color: @value !important;
    &:hover {
      border-color: @value !important;
    }
  }

  .dashed-@{key} {
    border-color: lighten(@value, 30%) !important;
    color: @value !important;
    &:hover {
      border-color: @value !important;
    }
  }

  .link-@{key} {
    color: @value !important;
    &:hover {
      border-color: lighten(@value, 20%) !important;
    }
  }
});

.quote {
  border-left: 5px solid #themeColors[primary-dark];
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  width: 100%
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.d-block {
  display: block !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.text-center {
  text-align: center !important;
}

.centered {
  margin: 0 auto !important;
}


// Visibility

.invisible {
  visibility: hidden !important;
}

.visible {
  visibility: visible !important;
}
