.ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
    color: #themeColors[primary];
}

.ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover {
    border-color: #themeColors[primary];
}