// Personalização da tabela
.ant-table table {

  .ant-table-thead {
    background-color: #themeColors[primary] !important;
    color: white !important;
    text-transform: uppercase;

    th {
      padding: 25px 50px;
    }

    :first-child {
      border-top-left-radius: 5px !important;
    }

    :last-child {
      border-top-right-radius: 5px !important;
    }
  }

  .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: tint(#themeColors[primary-light], 80%);
  }

  .ant-table-tbody {
    background-color: white !important;

    td {
      border: none;
    }
  }
}

// Tabela com header menor
.slim-table .ant-table table {

  .ant-table-thead {
    background-color: transparent !important;
    text-transform: uppercase;

    th {
      padding: 12px 50px;
      color: black !important;
      border-bottom: 3px solid #themeColors[primary] !important;
    }

    :first-child {
      border-top-left-radius: 5px !important;
    }

    :last-child {
      border-top-right-radius: 5px !important;
    }
  }

  .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: tint(#themeColors[primary-light], 80%);
  }

  .ant-table-tbody {
    background-color: white !important;

    td {
      border: none;
    }
  }
}

// Tabela flexbox
.art-table {
  width: 100%;

  .art-table-header {
    background: #themeColors[primary] !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .art-table-header-item {
      color: #fff;
      text-transform: uppercase;
      padding: 25px 50px;
      font-weight: bold;
    }
  }

  .art-table-row {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 500px) {
      margin-top: 10px;
    }


    &:hover {
      background: lighten(#themeColors[primary], 40%) !important;
      transition: background 0.3s ease-in-out;
    }

    .art-table-item {
      padding: 25px 50px;
    }

    @media only screen and (max-width: 500px) {
      .art-table-item {
        width: 100%;
        padding: 10px 15px;
      }
    }

    .art-table-item--mobile {
      background: #themeColors[primary] !important;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 100%;
      padding: 18px 50px;
      color: #fff;
    }
  }
}
