// Classes para flexbox
.flex {
  display: flex;

  /*
  * As classes a seguir evem ser usadas junto com flex no elemento pai
  */

  // permite a quebra de linha quando os elementos ocuparem espaço maior que a largura do elemento pai
  &.wrap {
    flex-wrap: wrap;
  }

  // desabilita a quebra de linha. Este é o comportamento padrão
  &.nowrap {
    flex-wrap: nowrap;
  }

  // alinha os elementos filhos no centro
  &.horizontal-center {
    justify-content: center;
  }

  // alinha os elementos filhos à direita
  &.horizontal-right {
    justify-content: flex-end;
  }

  // alinha os elementos filhos à esquerda
  &.horizontal-left {
    justify-content: flex-start;
  }

  // alinha os elementos filhos com espaçamento igual entre eles
  &.spaced {
    justify-content: space-between;
  }

  // alinha os elementos filhos verticalmente no centro
  &.vertical-center {
    align-items: center;
  }

  // alinha os elementos filhos verticalmente no topo
  &.vertical-top {
    align-items: flex-start;
  }

  // alinha os elementos filhos verticalmente no fundo
  &.vertical-bottom {
    align-items: flex-end;
  }

  /*
  * As classes a seguir evem ser usadas junto com flex nos elementos filhos
  */

  // indica que o elemento não deve crescer pra ocupar o espaço do elemento pai. Este é o comportamento padrão
  .grow0 {
    flex-grow: 0;
  }

  // indica que o elemento deve crescer pra ocupar o espaço do elemento pai
  .grow1 {
    flex-grow: 1;
  }

  // indica que o elemento deve crescer duas vezes mais que o grow1
  .grow2 {
    flex-grow: 2;
  }

  // indica que o elemento deve crescer três vezes mais que o grow1
  .grow3 {
    flex-grow: 3;
  }

}
