.modal-history {
  .ant-modal-header {
    background-color: #themeColors[primary] !important;
    padding: 25px;
    margin-bottom: 20px;    
    .ant-modal-title div {
      color: #FFFFFF !important;
    }
  }
}