// Global thematic styles applied to form elements

// Date & Range Picker

.ant-calendar-picker {
  width: 100%;
}

.ant-calendar-today .ant-calendar-date {
  color: #themeColors[primary] !important;
  border-color: #themeColors[primary] !important;
}

.ant-calendar-date:hover {
  background: #themeColors[primary-light] !important;
}

.ant-calendar-selected-start-date .ant-calendar-date, .ant-calendar-selected-end-date .ant-calendar-date,
.ant-calendar-selected-end-date .ant-calendar-date,
.ant-calendar-selected-end-date .ant-calendar-today,
.ant-calendar-selected-start-date .ant-calendar-today {
  background: #themeColors[primary] !important;
  color: #fff !important;
}

.ant-calendar-range .ant-calendar-in-range-cell::before {
  background: #themeColors[primary-light] !important;
}

.ant-calendar-time-picker-select li:hover {
  background: #themeColors[primary-light] !important;
}

li.ant-calendar-time-picker-select-option-selected {
  background: fade(#themeColors[primary-light], 30%) !important;
}

.ant-calendar .ant-calendar-ok-btn:not(.ant-calendar-ok-btn-disabled),
.ant-calendar .ant-calendar-ok-btn:active,
.ant-calendar .ant-calendar-ok-btn.active {
  color: #fff;
  background-color: #themeColors[primary] !important;
  border-color: #themeColors[primary] !important;
}

// Radio Buttons
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner,
.ant-radio-checked .ant-radio-inner {
  border-color: #themeColors[primary] !important;
}

.ant-radio-inner::after {
  background-color: #themeColors[primary] !important;
}


.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #themeColors[primary] !important;
  border-color: #themeColors[primary] !important;
  box-shadow: -1px 0 0 0 #themeColors[primary] !important;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff !important;
  border-color: #themeColors[primary] !important;
  background-color: #themeColors[primary] !important;
}


// Inputs
.ant-input:hover, .ant-select-selection:hover {
  border-color: #themeColors[primary-light] !important;
}

.ant-input:focus,
.ant-select-selection:focus,
.ant-select-open .ant-select-selection {
  border-color: #themeColors[primary] !important;
  box-shadow: 0 0 0 2px fade(#themeColors[primary-light], 30%) !important;
}

.ant-input-affix-wrapper .ant-input-prefix, .ant-input-affix-wrapper .ant-input-suffix {
  :hover {
    color: #themeColors[primary] !important;
  }
}

.ant-select-dropdown-menu-item-active {
  background-color: #themeColors[primary-light] !important;
}

// Checkbox
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #themeColors[primary] !important;
  border-color: #themeColors[primary] !important;
}

// Switch
.ant-switch-checked {
  background-color: #themeColors[primary] !important;
}

// Slider
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open),
.ant-slider-handle {
    border-color: #themeColors[primary] !important;
}

.ant-slider-track {
  background-color: #themeColors[primary] !important;
}

// Forced material design like styles for ant elements
.force-material {
  // Inputs
  .ant-input {
    border: none;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 0;
    background-color: transparent;

    &:focus {
      border-color: #themeColors[primary] !important;
      transition: border-color 300ms ease-in-out;
      border-right-width: 1px !important;
      outline: 0;
      box-shadow: none !important;
    }
  }

  .ant-input:focus {
    border-bottom-color: #themeColors[primary] !important;
    box-shadow: none !important;
  }

  // Select
  .ant-select-selection {
    border: none !important;
    border-bottom: 1px solid #e1e1e1 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: transparent !important;
    top: 3px;

    &:hover {
      border-bottom: 1px solid #themeColors[primary];
    }
  }

  .ant-select-open .ant-select-selection {
    border: none !important;
    border-bottom: 1px solid #themeColors[primary] !important;
    transition: border-bottom 300ms ease-in-out;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: transparent !important;
  }

  .ant-select-selection:hover .ant-select-arrow .ant-select-arrow-icon svg {
    color: #themeColors[primary] !important;
  }

  .ant-select-selection:hover,
  .ant-select-open .ant-select-selection {
    border-color: #themeColors[primary] !important;
  }

  // Date Picker
  .ant-calendar-picker {
    width: 100%;
    top: 1px;
  }

  .ant-calendar-picker:hover
    .ant-calendar-picker-input:not(.ant-input-disabled) {
    border-color: #themeColors[primary] !important;
  }

  .ant-calendar-picker:focus
    .ant-calendar-picker-input:not(.ant-input-disabled) {
    box-shadow: none !important;
  }

  .ant-calendar-picker:focus .anticon,
  .ant-calendar-picker:hover .anticon {
    color: #themeColors[primary];
  }
}

// Personalizações para o Material Design

.art-material {
  .mdc-text-field {
    width: 100%;
  }

  .mdc-text-field,
  .mdc-text-field:not(.mdc-text-field--disabled),
  .mdc-text-field::before,
  .mdc-text-field::after {
    background: transparent !important;
    border-bottom-color: #e1e1e1 !important;
  }

  .mdc-text-field--focused:not(.mdc-text-field--disabled)
    .mdc-floating-label--float-above {
    color: #themeColors[primary] !important;
  }

  .mdc-text-field .mdc-line-ripple {
    background-color: #themeColors[primary] !important;
  }

  .mdc-text-field--textarea:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-notched-outline__leading,
  .mdc-text-field--textarea:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-notched-outline__notch,
  .mdc-text-field--textarea:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: #themeColors[primary] !important;
  }

  .mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled)
    .mdc-notched-outline__leading,
  .mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled)
    .mdc-notched-outline__notch,
  .mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled)
    .mdc-notched-outline__trailing {
    border-color: #themeColors[primary] !important;
  }

  .mdc-text-field--textarea.mdc-text-field--focused:not(.mdc-text-field--disabled)
    .mdc-floating-label--float-above {
    color: #themeColors[primary] !important;
  }

  .mdc-text-field[_ngcontent-c7]:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
    .mdc-text-field__input[_ngcontent-c7]:hover {
    border-bottom-color: #themeColors[primary] !important;
  }

  // Invalid
  .mdc-text-field--fullwidth.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--textarea),
  .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
    .mdc-text-field__input,
  .mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--outlined):not(.mdc-text-field--textarea)
    .mdc-text-field__input:hover {
    border-bottom-color: #themeColors[error];
  }
  .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-line-ripple {
    background-color: #themeColors[error];
  }
  .mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label,
  .mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-text-field--invalid
    + .mdc-text-field-helper-line
    .mdc-text-field-helper-text--validation-msg,
  .mdc-text-field--invalid.mdc-text-field--with-trailing-icon:not(.mdc-text-field--with-leading-icon):not(.mdc-text-field--disabled)
    .mdc-text-field__icon,
  .mdc-text-field--invalid.mdc-text-field--with-trailing-icon.mdc-text-field--with-leading-icon:not(.mdc-text-field--disabled)
    .mdc-text-field__icon
    ~ .mdc-text-field__icon {
    color: #themeColors[error];
  }
  .mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-notched-outline__leading,
  .mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-notched-outline__notch,
  .mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled)
    .mdc-notched-outline__trailing {
    border-color: #themeColors[error];
  }
  .mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused)
    .mdc-text-field__input:hover
    ~ .mdc-notched-outline
    .mdc-notched-outline__leading,
  .mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused)
    .mdc-text-field__input:hover
    ~ .mdc-notched-outline
    .mdc-notched-outline__notch,
  .mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused)
    .mdc-text-field__input:hover
    ~ .mdc-notched-outline
    .mdc-notched-outline__trailing,
  .mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused)
    .mdc-text-field__icon:hover
    ~ .mdc-notched-outline
    .mdc-notched-outline__leading,
  .mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused)
    .mdc-text-field__icon:hover
    ~ .mdc-notched-outline
    .mdc-notched-outline__notch,
  .mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused)
    .mdc-text-field__icon:hover
    ~ .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-color: #themeColors[error];
  }
  .mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-notched-outline__leading,
  .mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-notched-outline__notch,
  .mdc-text-field--textarea.mdc-text-field--invalid:not(.mdc-text-field--disabled).mdc-text-field--focused
    .mdc-notched-outline__trailing {
    border-color: #themeColors[error];
  }
}
