// Custom Typography

@simplon-font-path: "../../fonts/simplon/";

// SimplonBP FONT
@font-face {
  font-family: "SimplonBP Light";
  src: local(Simplon BP Light),
    url("@{simplon-font-path}SimplonBP-Light.woff") format("woff"),
    url("@{simplon-font-path}SimplonBP-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "SimplonBP";
  src: local(Simplon BP Regular),
    url("@{simplon-font-path}SimplonBP-Regular.woff") format("woff"),
    url("@{simplon-font-path}SimplonBP-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SimplonBP Medium";
  src: local(Simplon BP Medium),
    url("@{simplon-font-path}SimplonBP-Medium.woff") format("woff"),
    url("@{simplon-font-path}SimplonBP-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "SimplonBP Bold";
  src: local(Simplon BP Bold),
    url("@{simplon-font-path}SimplonBP-Bold.woff") format("woff"),
    url("@{simplon-font-path}SimplonBP-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Simplon Headline";
  src: local(Simplon Headline),
    url("@{simplon-font-path}SimplonOi-Headline.woff") format("woff"),
    url("@{simplon-font-path}SimplonOi-Headline.ttf") format("truetype");
  font-weight: 700;
}

body {
  font-family: "SimplonBP", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Simplon Headline", sans-serif;
  font-weight: 300;
}

button {
  font-family: "SimplonBP", sans-serif;
  font-weight: 500px;
}

// Adiciona reticências no texto que ultrapasse seu container
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Força a quebra de linha
.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}

.iconAction {
  font-size: 16px;

  &:hover {
    color: #themeColors[primary];
  }
}

.iconAvatar {
  font-size: 1.5rem;
}


.h1-responsive {
  font-size: 150%
}

.h2-responsive {
  font-size: 145%
}

.h3-responsive {
  font-size: 135%
}

.h4-responsive {
  font-size: 135%
}

.h5-responsive {
  font-size: 135%
}

@media (min-width: 576px) {
  .h1-responsive {
      font-size:170%
  }

  .h2-responsive {
      font-size: 140%
  }

  .h3-responsive {
      font-size: 125%
  }

  .h4-responsive {
      font-size: 125%
  }

  .h5-responsive {
      font-size: 125%
  }
}

@media (min-width: 768px) {
  .h1-responsive {
      font-size:200%
  }

  .h2-responsive {
      font-size: 170%
  }

  .h3-responsive {
      font-size: 140%
  }

  .h4-responsive {
      font-size: 125%
  }

  .h5-responsive {
      font-size: 125%
  }
}

@media (min-width: 992px) {
  .h1-responsive {
      font-size:200%
  }

  .h2-responsive {
      font-size: 170%
  }

  .h3-responsive {
      font-size: 140%
  }

  .h4-responsive {
      font-size: 125%
  }

  .h5-responsive {
      font-size: 125%
  }
}

@media (min-width: 1200px) {
  .h1-responsive {
      font-size:250%
  }

  .h2-responsive {
      font-size: 200%
  }

  .h3-responsive {
      font-size: 170%
  }

  .h4-responsive {
      font-size: 140%
  }

  .h5-responsive {
      font-size: 125%
  }
}
