// Estilos para alterar o background da barra lateral
.ant-layout-sider, .ant-menu-dark {
  background: #themeColors[primary] !important;

  .ant-layout-sider .ant-menu-dark .ant-menu-inline.ant-menu-sub,
  .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #themeColors[primary-dark] !important;

    li:hover {
      background-color: #themeColors[primary-dark] !important;
    }
    li:not(.trigger):hover {
      background-color: #themeColors[primary] !important;
    }
  }

  .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #themeColors[primary-light] !important;
  }
}

.cdk-overlay-pane .ant-menu-submenu.ant-menu-submenu-popup.ant-menu-dark .ant-menu-sub,
.cdk-overlay-pane .ant-menu-dark .ant-menu-sub {
    background: #themeColors[primary-dark] !important;

    li:hover {
      background-color: #themeColors[primary-dark] !important;
    }
    li:not(.trigger):hover {
      background-color: #themeColors[primary] !important;
    }

    .ant-menu-item-selected {
      background-color: #themeColors[primary-light] !important;
    }
}

// Altera a posição do trigger no menu
.ant-layout-sider-collapsed {
  .trigger {
    padding: 0 30px !important;
    font-size: 16px !important;
    transition: font-size 200ms ease-out !important;
  }
}
