.idoi-calendar{
  .fc-button-primary {
    color: #FFFFFF;  
    background-color: #themeColors[primary];
    border-color: #themeColors[primary];
    }
  .fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
    color: #FFFFFF;  
    background-color: #themeColors[primary-light];
    border-color: #themeColors[primary];
  }
  .fc-day-header {
    text-transform: uppercase;
    padding: 5px;
  }
  .fc-event {
    background-color: #6785C9;
    border-color: #6785C9;
  }
  .fc-content {
    color: #FFFFFF;
  }
  .fc-axis {
    text-align: center;
  }
  .fc-mirror {
    color: #08D316;
  }
}