#themeColors() {
  primary: @value;
  primary-light: lighten($primary, 10%);
  primary-dark: shade($primary, 10%);
  secondary: spin($primary, 180);
  secondary-light: lighten($secondary, 10%);
  secondary-dark: shade($secondary, 10%);
  info: @identidade-blue;
  success: @identidade-green;
  processing: @identidade-orange-dark;
  error: @identidade-pink;
  highlight: @identidade-green-light;
  warning: @identidade-yellow;
  background: #f4f8fb;
}
