//Cores Oficiais identidade
@identidade-purple: rgb(160,43,255);
@identidade-purple-light: rgb(189,120,255);
@identidade-purple-dark: rgb(122,35,204);

@identidade-pink: rgb(234,40,140);
@identidade-pink-light: rgb(232,109,177);
@identidade-pink-dark: rgb(181,31,214);

@identidade-orange: rgb(255,109,0);
@identidade-orange-light: rgb(255,149,77);
@identidade-orange-dark: rgb(204,82,0);

@identidade-yellow: rgb(255,255,0);
@identidade-yellow-light: rgb(255,252,128);
@identidade-yellow-dark: rgb(204,198,0);

@identidade-green: rgb(0,211,24);
@identidade-green-light: rgb(105,209,112);
@identidade-green-dark: rgb(0,158,11);

@identidade-blue: rgb(0,206,255);
@identidade-blue-light: rgb(77,230,255);
@identidade-blue-dark: rgb(0,175,204);

@identidade-gray: rgb(156,156,156);
@identidade-gray-light: rgb(222,222,222);
@identidade-gray-dark: rgb(77,77,77);

@identidade-cold-pink: #EC6383;
@identidade-strong-green: #00887A;