// altera o background para a cor definida no protótipo
.ant-layout {
  background: @background;
}

.svgColor {
  fill: #themeColors[primary];
  stroke: #themeColors[primary];
}

a {
  color: #themeColors[primary];
  &:hover{
    color: #themeColors[primary-light];
    text-decoration: underline;
  }
}

.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover,
.ant-select-dropdown-menu-item:hover  {
  background-color: tint(#themeColors[primary-light], 80%);
}

.ant-tabs-nav .ant-tabs-tab-active, {
  color: #themeColors[primary];
}

.ant-tabs-ink-bar {
  background-color: #themeColors[primary];
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  padding-bottom: 1px;
  color: #themeColors[primary];
  background: #fff;
  border-color: #e8e8e8;
}

// botões do carrossel
.ant-carousel .slick-dots li button {
  background-color: #themeColors[primary] !important;
}

// Labels
.ant-form-item-label > label {
  color: #878787;
  font-size: 12px;
}
.ant-form-item-required::before {
  color: #themeColors[primary];
}

// Selecionar texto
::selection {
  background: #themeColors[primary] !important;
}

//Barra progressão circle
.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
  stroke: #themeColors[primary] !important;
}
.ant-progress-status-success .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path{
  stroke: #themeColors[primary] !important;
}
.ant-progress-status-exception .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path{
  stroke: #themeColors[primary] !important;
}
.ant-progress-circle.ant-progress-status-success .ant-progress-text {
  color: #themeColors[primary] !important;
}
.ant-progress-circle.ant-progress-status-exception .ant-progress-text {
  color: #themeColors[primary] !important;
}

// Apenas exibir conteúdo para leitores de tela
// Consulte http://a11yproject.com/posts/how-to-hide-content
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
// Usar em conjunto com .sr-only para exibir apenas o conteúdo quando estiver focalizado.
// Útil para links "Ir para o conteúdo principal"; consulte http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
// Credit: HTML5 Boilerplate
.sr-only-focusable {
  &:active,
  &:focus {
      position: static;
      width: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      clip: auto;
  }
}
// Espaçamento caption das tabelas
caption {
  padding: 5px;
}




// Força a altura da div onde são desenhadas as rotas
.mainContent {
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
}

//Hover do Card com a Cor primaria
.card {
  &:hover {
    background-color: #themeColors[primary];
  }
}

// Hover do grupo de botões
.ant-radio-button-wrapper:hover {
  color: #themeColors[primary]
}

.ant-list-bordered .ant-list-header {
  padding-right: 24px;
  padding-left: 24px;
  background: #themeColors[primary];
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 13pt;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

// Define cor do tema para símbolo de loading
.ant-spin-dot-item {
  background-color: #themeColors[primary];
}

// Define estilos para tabelas
@import "./customs/custom-tables.less";
// Define estilos para a barra lateral
@import "./customs/custom-sider.less";
// Define estilos para os formulários
@import "./customs/custom-forms.less";
// Cria novas classes para uso no app
@import "./customs/custom-classes.less";
// Define a fonte padrão
@import "./customs/custom-typography.less";
// Cria classes flexbox
@import "./customs/custom-flexbox.less";
// Cria classes modal
@import "./customs/custom-modal.less";
// Define estilos para o componente de upload
@import "./customs/custom-upload.less";